.btn {
    border-radius: 0;
}

.btn-sm {
    padding: 8px 16px;
    line-height: 19px;
    font-size: 14px;
}

.btn-lg {
    font-size: 14px;
    line-height: 22px;
    padding: 12px 24px;
}

.btn-primary {
    background: #0036b0;
    color: #FFFFFF;
    font-weight: 800;
    border-color: #0036b0;
}

.btn-warning {
    background: #F6A219;
    color: #FFFFFF;
    font-weight: 700;
    border-color: #F6A219;
}
