.section_carousel {
    background:#FFFFFF;
    padding-top: 80px;
    margin-bottom: 80px;
}
.wrapper-swiper-cert {
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
}
.wrapper-swiper-cert .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper-swiper-cert .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.wrapper-swiper-cert .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-swiper-cert .slide-body {
    padding: 33px 25px;
    border: 1px solid #cccccc;
}

.wrapper-swiper-cert .title {
    display: block;
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.45;
}

.wrapper-swiper-cert .swiper-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #D9EEF7;
    color: #0036B0;
    font-size: 14px;
    position: absolute;
    top: 93px;

    font-family: 'icomoon';
    src: url('../icons/fonts/icomoon.eot?fo6v1m');
    src: url('../icons/fonts/icomoon.eot?fo6v1m#iefix') format('embedded-opentype'),
        url('../icons/fonts/icomoon.ttf?fo6v1m') format('truetype'),
        url('../icons/fonts/icomoon.woff?fo6v1m') format('woff'),
        uon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper-swiper-cert .swiper-button:after {
    display: none;
}
.wrapper-swiper-cert .swiper-button-next {
    right: 22px;
}
.wrapper-swiper-cert .swiper-button-next:before {
    content: "\e908";
}
.wrapper-swiper-cert .swiper-button-prev {
    left: 22px;
}
.wrapper-swiper-cert .swiper-button-prev:before {
    content: "\e909";
}
/*Carousel Feedback Start*/
.section_feedback {
    background: #D9EEF7;
    padding-top: 80px;
    padding-bottom: 80px;
}
.section_feedback .feedback_full {
    padding: 48px 48px 48px 48px;
}
.section_feedback .title_feedback  {
    margin-bottom:  32px;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
.section_feedback .feedback_full .feedback_mini_title {
    color: #343344;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
}
.section_feedback .feedback_mini_text {
    color: #343344;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 25px;
    display: block;
}
.section_feedback .feedback_full .feedback_text {
    color: #343344;
    margin-bottom: 27px;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
}
.section_feedback .feedback_full .feedback_blank .feedback_link {
    font-size: 13px;
    line-height: 19px;
    color: #0036B0;
    font-weight: 500;
    margin-left: -3px;
    padding: 25px 0 25px 16px;
    text-decoration: none;
}
/*Carousel Feedback Finish*/
/*section_feedback_carousel start*/
.swiper_feedback {
    width: 100%;
    height: 100%;
}
.section_feedback_carousel {
    background: #FFFFFF;
}
.section_feedback .swiper-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #0036B0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    font-family: 'icomoon', sans-serif;
    speak: never;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.section_feedback .swiper-button:after {
    display: none;
}
.section_feedback .swiper-button-next {
    right: -60px;
}
.section_feedback .swiper-button-next:before {
    content: "\e908";
}
.section_feedback .swiper-button-prev {
    left: -60px;
}
.section_feedback .swiper-button-prev:before {
    content: "\e909";
}
/*section_feedback_carousel finish*/


