body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    max-width: 1266px;
}
.container-sm {
    max-width: 1060px;
}
/*-----header start------*/
.section_background-top {
    background: #D4EFF8 url("../img/back.jpg")no-repeat center /cover;
}
.header_right {
    display: flex;
    align-items: center;
}
.header {
    padding-top: 16px;
    padding-bottom: 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo .logo-text {
    max-width: 230px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: block;
}
.logo .header_logo {
    width: 79px;
    height: auto;
    margin-right: 30px;
}
.header .header_right .btn-catalog {
    margin-right: 30px;
}
.header .header_right .btn-catalog:hover {
    color: #0036b0;
}
.header .header_right .icon {
    margin-right: 11px ;
}
.header .header_right .header_order {
    margin-right: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #0036B0;
}
.header .header_right a {
    margin-right: 16px;
    font-weight: 800;
    text-decoration: none;
    color: #343344;
    font-size: 16px;
    line-height: 22px;
}
.header .header_right .header_phone {
    margin-right: 8px;
}
/*-----header finish------*/
/*---Intro Start----*/
.section_intro {
    padding-top: 121px;
}
.section_intro .intro_left .intro_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
}
.section_intro .intro_img {
    margin-top: -100px;
}
.title_intro {
    font-weight: 800;
    font-size: 39px;
    line-height: 50px;
    margin-bottom: 16px;
}
/*---Intro Finish----*/
/*<!--Section item Start-->*/
.section_item {
    padding-top: 80px;
}
.item_mini {
    background: #FFF5E4;
    padding: 48px 110px;
    margin-bottom: 80px;
}
.section_item  .item_mini .icon_mini {
    font-size: 30px;
    color: #F6A219;
    display: inline-block;
    margin-right: 20px;
}
.section_item .item-flex {
    display: flex;
   align-items: center;
}
.section_item .item_mini .text_mini {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545365;
    max-width: 170px;
    display: block;
}
.title-item {
    text-align: center;
    font-weight:800;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
}
.section_item .item {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
    margin-bottom: 80px;
}
.section_item .item_second {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 54px;
}
.section_item .item_body {
    margin-bottom: 10px;
    text-align: center;
}
.section_item .item_footer .item_title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
}
/*<!--Section item Finish-->*/
/*<!--Section mini_sale Start-->*/
.section_mini_sale {
    margin-bottom: 80px;
}
.mini_sale_wrapper {
    background: url("../img/sale/back_sale.png")no-repeat center / cover;
}
.section_mini_sale .mini_sale_right  {
    padding-top: 77px;
    padding-bottom: 77px;
    padding-right: 109px;
    margin-left: 86px;
    text-align: center;
}
.section_mini_sale .mini_sale_left {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 110px;
}
.section_mini_sale .mini_sale_left .title_sale {
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 28px;
    color: #FFFFFF;
}
.section_mini_sale .mini_sale_left .text_sale {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
/*<!--Section mini_sale Finish-->*/
/*<!--    section_client start-->*/
.row-padding-20 {
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.row-padding-20 > * {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.section_client .client_item {
    margin-bottom: 40px;
}
.section_client .client_normalize .client_item_second {

}
.title_client {
    padding-right: 102px;
}
/*<!--    section_client Finish-->*/
/*<!--section_delivery Start-->*/
.section_delivery .delivery {
    padding: 48px 64px 84px 48px;
    display: flex;
    flex-direction: column;
    background: #FFF5E4;
    position: relative;
    z-index: 100;
    margin-bottom: 80px;
}
.section_delivery .title_delivery {
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
}
.section_delivery .delivery_options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #343344;
    z-index:102;
}
.delivery_options li  {
    position: relative;
    padding-left: 48px;
}
.delivery_options li+li  {
    margin-top: 20px;
}
.section_delivery .delivery_options  .delivery_text {
    margin-top: 30px;
}
.delivery_options li .icon {
    position: absolute;
    left: 0;
    top: -5px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background: #f6a219;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
.section_delivery .delivery .icon-dostupnie-ceni {
    font-size: 107px;
    position: absolute;
    right: 45px;
    top: 60px;
    z-index: 100;
    color: #FFFFFF;
}
.section_delivery .delivery .icon-dostavka {
    font-size: 107px;
    position: absolute;
    right: 45px;
    top: 60px;
    z-index: 100;
    color: #FFFFFF;
}
/*<!--section_delivery Finish-->*/
