@media  screen and (max-width: 1200px) {
    .section_intro .intro_img {
        max-height: 450px;
    }
    .section_item .item_mini .text_mini  {
        margin-bottom: 30px;
    }
    .title_intro {
        font-weight: 800;
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 16px;
    }

    .section_feedback .swiper-button-next {
        right: auto;
        left: 50%;
        top: 100%;
        margin: 10px 0 0 10px;
        z-index: 101;
    }
    .section_feedback .swiper-button-prev {
        left: auto;
        right: 50%;
        top: 100%;
        margin: 10px 10px 0 0;
        z-index: 101;
    }

    .row-padding-20 {
        margin-left: -12px !important;
        margin-right: -12px !important;
    }

    .row-padding-20 > * {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}
@media only screen and (max-width: 1100px) {
    .header .header_right .header_tel {
        font-size: 13px;
    }
    .section_item {
        padding: 0;
    }
    .section_mini_sale .mini_sale_left .title_sale {
        font-size: 20px;
    }
    .section_mini_sale .mini_sale_left {
        padding-right: 110px;
    }
    .item_mini {
        margin-bottom: 20px;
    }
    .section_delivery .delivery {
        margin-bottom: 20px;
    }
    .section_carousel {
        margin-bottom: 60px;
        padding-top: 20px;
    }
    .wrapper-swiper-cert .swiper-button-next {
        right: auto;
        left: 50%;
        top: 100%;
        margin: 10px 0 0 10px;
        z-index: 101;
    }
    .wrapper-swiper-cert .swiper-button-prev {
        left: auto;
        right: 50%;
        top: 100%;
        margin: 10px 10px 0 0;
        z-index: 101;
    }
    .section_contact .section_contact_title {
        padding-top: 40px;
        text-align: center;
    }
    .section_contact .section_contact_full .contact_text {
        margin-bottom: 40px;
    }
    .worth {
        padding-top: 40px;
    }
}
@media (max-width: 992px) {
    .title_intro {
        font-size: 26px;
    }
    .section_mini_sale .mini_sale_right {
        margin-left: 110px;
        padding-top: 0;
    }
    .header .header_right .header_tel {
        margin-right: 100px;
        font-size: 23px;
    }
    .header .header_right .header_tel:hover{
        color: #F6A219;
    }
    .header .header_right .header_order {
        margin-right: 100px;
        font-size: 23px;
    }
    .header .header_right .header_order:hover {
        color: #F6A219;
    }
    .header_right {
        margin-left: 25px;
    }
    .header .header_right .icon-burger  {
        font-size: 28px;
    }
}
@media (max-width: 905px) {
    .section_intro .intro_left {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .section_intro .intro_img {
        margin-top: 0;
    }
    .title_intro {
        font-size: 20px;
    }
    .section_item .item_second {
        padding-bottom: 20px;
    }
    .title_client {
        text-align: center;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .title_client b {
        display: block;
    }
    .section_client .client_item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .section_intro {
        padding-top: 20px;
    }
    .logo {
        margin-bottom: 20px;
    }
}
@media (max-width: 350px) {
    .section_intro .intro_img {
        display: none;
    }
}
