.btn {
    /*40px*/
}

.btn-sm {
    padding: 8px 16px  8px  19px;
    background: #F6A219;
    color: #FFFFFF;
    line-height: 19px;
    font-weight: 800;
    font-size: 14px;
}

.btn-lg {
    /*48px*/
}

.btn-primary {
    background: #0036b0;
    color: #FFFFFF;
    line-height: 19px;
    font-weight: 800;
    font-size: 14px;
    padding: 14px 24px 14px 24px;
}

.btn-warning {

}